@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --preto: #1E201E;
    --contraste: #2C2C2C;
    --border: 1px solid #a90820;
    --contraste1: #3C3D37;
    --vermelho: #a90820;
}


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: var(--preto);
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;

}

main {
    /* O Flex ele subtrai o conteudo que esta sendo usado ai fica certinho */
    flex: 1;
    /* ocupa TODO o espaço restante */
    display: flex;
    flex-direction: column;
}

#titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F5F5F5;
}

#titulo p {
    font-size: x-large;
    font-weight: 700;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.containerTreino {
    flex-direction: row;
    width: 95%;
    height: 30%;
    display: flex;
    justify-content: center;
}

#boasVindas {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    animation: fadeIn 1s ease forwards;
    
}

#boasVindas span {
    color: #e61911; /* cor de destaque para o nome */
    font-weight: 900;
}

@keyframes fadeIn {
    0% { 
        opacity: 0; 
        transform: translateY(-10px);
    }
    100% { 
        opacity: 1; 
        transform: translateY(0);
    }
}


.exerciciosSeries {
    flex-direction: row;
    display: flex;
    width: 100%;
}

.secDiv {
    background: #2c2c2c;
    padding: 15px;
    border-radius: 15px;
    overflow-y: auto;
    border: 2px solid #a90820;
}

.treinos {
    height: 100%;
    color: #FFF;
    flex-direction: column;
    display: flex;
    width: 90%;
}

#linhaTreinos {
    height: 60%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#getTreino {
    width: 20%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: #F5F5F5;
    font-weight: 900;
    background-color: var(--vermelho);
}

#getTreino:hover {
    background-color: #F5F5F5;
    transition: 0.7s;
    color: var(--preto);
}

#exercicios {
    width: 50%;
    height: 100%;
    margin-top: 5%;
    margin-left: 4%;
    border: var(--border);
    border-radius: 10px;
    color: #F5F5F5;
    overflow: hidden;
    flex-direction: column;
}

/*    Exercicios width: 90%;  */
/*ListaExercicios 60% */


/* Tabela geral */
#listaExerciciosTreino {
    width: 100%;
    height: 100%;
}

#tabelaEx {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;


}

thead, tbody, tr{
    width: 100%;
}
/* Cabeçalho */
th {
    background-color: #1c1c1c;
    padding: 12px;
    font-size: 1.2rem;
    text-align: left;
    width: 32%;
    margin-right: 6%;
    border-bottom: var(--border);
}

.contentExercicioSeries {
    width: 98%;
    height: 100%;
}

.linhaEx {
    background-color: #a90820;
    height: 5%;
    width: 100%;
}



.linhaEx td {
    padding: 10px;
    font-size: 1.1rem;
    color: #fff;
    width: 30%;

}

/* Nome do exercício */
.tituloEx {
    font-size: 1.3rem;
    font-weight: 600;
    width: 100%;
    height: 100%;

}




/* Botão */
.btnFazer {
    width: 140px;
    padding: 10px;
    border-radius: 10px;
    border: var(--border);
    background-color: #F5F5F5;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}

.btnFazer:hover {
    background-color: #dadada;
}

#serie {
    width: 40%;
    height: 100%;
    margin-right: 3%;
    margin-left: 3%;
    border: var(--border);
    border-radius: 10px;
    flex-direction: column;
    padding: 20px;
    justify-content: start;
    display: flex;
    align-items: center;
}

#serie h2 {
    display: flex;
    color: #F5F5F5;

}

.form {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.row {
    display: flex;
height: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 5%;

}

.campoSerie {
 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
       width: 100%;
    height: 100%;
}

input {
    border-radius: 10px;
    background-color: var(--preto);
    border: 2px solid #a90820;
    font-weight: 800;
    font-size: x-large;
    color: #F5F5F5;
   width: 100%;
    height: 100%;
    text-align: center;

}

.campoSerie label {
    color: #F5F5F5;
    font-weight: 500;
}

.btnFeito {
    width: 100%;
    height: 20%;
    align-items: center;
    display: flex;
    justify-content: center;
  
}

.btnFeito button {
    font-size: large;
    font-weight: 700;
    color: #090909;
    height: 100%;
    width: 50%;
    
    background-color: #ffffff00;
    border: none;
    text-decoration: none;
    background-color: #dddddd;
    border-radius: 20px;

}



.btnFeito button:hover {
    background-color: var(--vermelho);
    color: #dddddd;
    transition: 0.6s;

}