/* ---------------------------------------------------
   ROOT + RESET
--------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --preto: #1E201E;
    --contraste: #2C2C2C;
    --contraste1: #3C3D37;
    --border: 1px solid #a90820;
    --vermelho: #a90820;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------------------------------
   BODY + MAIN
--------------------------------------------------- */
body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 210vh;
    font-family: "Poppins", sans-serif;
    background-color: var(--preto);
    overflow-x: hidden;
    overflow-y: scroll;

}

main {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}



/* ---------------------------------------------------
   CONTEÚDO PRINCIPAL
--------------------------------------------------- */
.content {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* ---------------------------------------------------
   FORMULÁRIO CADASTRAR FICHA
--------------------------------------------------- */
#secCadastrarTreino {
    height: 40%;
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: var(--contraste);
    justify-content: center;
    align-self: center;
    border: var(--border);
    border-radius: 10px;
}

.titulo {
    height: 20%;
    width: 100%;
}

.secTitulo {
    font-size: xx-large;
    color: #ddd;
    font-weight: 600;
    margin-left: 5%;
}

.form {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 7%;
}

/* CAMPOS EM LINHA */
.campos {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: start;
}

/* CAMPO INDIVIDUAL */
.campo {
    width: 45%;
    height: 95%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.campo label {
    color: #fff;
    font-weight: 500;
    font-size: larger;
}

.campo input {
    width: 80%;
    height: 100%;
    border-radius: 6px;
    background-color: var(--contraste1);
    border: 2px solid #a90820;
    color: #fff;
    font-weight: 800;
    font-size: larger;
}

input:hover {
    border: 3px solid #fff;
}

/* OBSERVAÇÃO */
.observacao {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.observacao label {
    align-self: start;
    margin-left: 12%;
    color: #fff;
    font-size: x-large;
    font-weight: 500;
}

.observacao textarea {
    width: 78%;
    height: 60%;
    border-radius: 15px;
    background-color: var(--contraste1);
    border: var(--border);
    color: #fff;
    font-size: x-large;
    font-weight: 500;
}

/* SELECT */
select {
    border: var(--border);
    background: #ffffff00;
    padding: 10px;
    transition: 0.4s;
}

#objSelect {
    width: 100%;
    color: #fff;
    font-weight: 700;
}

select:hover,
select:focus {
    background: #53000094;
}

option {
    padding: 10px;
    background-color: #1E201E;
    border: 2px solid #dddddd;
    color: #fff;
    transition: 0.4s;
}

/* BOTÃO FORMULARIO */
.btn {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5%;
    margin-bottom: 5%;
}

.btn button {
    width: 50%;
    height: 70%;
    border-radius: 20px;
    border: none;
    font-size: large;
    font-weight: 700;
    background-color: #dddddd;
    transition: 0.6s;
}

.btn button:hover {
    background-color: var(--vermelho);
    color: #dddddd;
}

/* ---------------------------------------------------
   CADASTRAR TREINO
--------------------------------------------------- */
#addTreino {
    width: 75%;
    height: 40%;
    margin: 3% 5%;
    background-color: var(--contraste);
    border-radius: 10px;
    border: var(--border);
}

.contentAddTreino {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tituloTreino {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
}

.tituloTreino p {
    padding-left: 3%;
    padding-top: 1%;
    color: #fff;
    font-size: x-large;
    font-weight: bold;
}

.camposTreino {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.campoTreino {
    height: 40%;
}
.btnTreino{
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: center;
    display: flex;

}
.btnTreino 
button {
    width: 60%;
    height: 65%;
    border-radius: 20px;
    border: none;
    font-size: large;
    font-weight: 700;
    background-color: #dddddd;
    transition: 0.6s;
}
.btnTreino button:hover{
    background-color: var(--vermelho);
    color: #dddddd;
}

/* ---------------------------------------------------
   ADICIONAR EXERCÍCIO
--------------------------------------------------- */
#addExercicio {
    width: 70%;
    margin: 3% 0 0 5%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--contraste);
    border-radius: 10px;
    border: var(--border);
}

.contentAddExercicio {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.tituloExercicio p {
    padding-left: 2%;
    color: #fff;
    font-size: x-large;
    font-weight: bold;
}

.camposExercicio {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.campoEx {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.campoEx label {
    margin-bottom: 5px;
    color: #fff;
    font-weight: 600;
    font-size: large;
}

.campoEx input {
    height: 40px;
    padding-left: 10px;
    border-radius: 8px;
    background-color: var(--contraste1);
    border: 2px solid var(--vermelho);
    color: #fff;
    font-size: larger;
}

.btnAddEx {
    margin: 20px 4% 0 0;
    display: flex;
    justify-content: flex-end;
}

.btnExercicio {
    width: 25%;
    height: 45px;
    border-radius: 15px;
    border: none;
    background-color: #ddd;
    font-weight: 700;
    transition: .4s;
}

.btnExercicio:hover {
    background-color: var(--vermelho);
    color: #fff;
}

/* TABELA DE EXERCÍCIOS */
#listaExercicios {
    width: 90%;
    margin: 20px auto;
}

.tabelaExercicio {
    padding-top: 50px;
    color: #fff;
}