@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --preto: #1E201E;
    --contraste: #2C2C2C;
    --border: 1px solid #a90820;
    --contraste1: #3C3D37;
    --vermelho: #a90820;
}


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: var(--preto);
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;

}

main {
    margin-top: 4%;
    flex: 1;
    display: flex;
}
.tituloSection{
    width: 100%;
    height: 10%;
    justify-content: center;
    display: flex;
}
.titulo{
    color: #f5f5f5;
    font-weight: 800;
    font-size: xx-large;
}
.indicadoresMensais{
    width: 70%;
    height: 80%;
    border: var(--border);
    border-radius: 20px;
}
.mensaisContent{
    width: 100%;
    height: 94%;
    display: flex;
}

.indicadores{
    align-self: start;
    margin-top: 5%;
    margin-left: 3%;
    width: 95%;
    height: 18%;
}
.indicadoresContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width:100%;

}
.indicador{
    height: 90%;
    width: 20%;
    background-color: #3C3D37;
    border-radius: 14px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.conquistasMensais{
    width: 100%;
    height: 400%;
}
.conquistasContent{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
}
.grafico1{
    width: 45%;
    height: 80%;
}
.grafico2{
     width: 55%;
    height: 80%; 
}
.indicadoresSemanais{
    width: 27%;
    height: 80%;
    margin-left: 1%;
    border:var(--border);
    border-radius: 20px;
    
}
.semanaisContent{
    width: 100%;
    flex-direction: column;
    height: 90%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
 .indicadorSemanal{
    width: 80%;
    height: 25%;
    border-radius: 20px;
    background-color: #a90820;
}
