@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --preto: #1E201E;
    --contraste: #2C2C2C;
    --border: 1px solid #a90820;
    --contraste1: #3C3D37;
    --vermelho: #a90820;
}


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: var(--preto);
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;

}

main {
    /* O Flex ele subtrai o conteudo que esta sendo usado ai fica certinho */
    flex: 1;
    /* ocupa TODO o espaço restante */
    display: flex;
    flex-direction: column;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


#boasVindas {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    margin: 20px 0 10px 20px;
    letter-spacing: 1px;
    animation: fadeIn 1s ease forwards;
}

#boasVindas span {
    color: #e61911; /* cor de destaque para o nome */
    font-weight: 900;
}

@keyframes fadeIn {
    0% { 
        opacity: 0; 
        transform: translateY(-10px);
    }
    100% { 
        opacity: 1; 
        transform: translateY(0);
    }
}


.fichas {
    width: 100%;
    height: 50%;
    background-color: aliceblue;
    margin-top: 5%;
}

#contentFicha {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    background-color: var(--contraste);
}

.fichaCard {
    height: 80%;
    width: 20%;
    border-radius: 10px;
    background-color: var(--contraste1);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 2%;
}
#ativo{
    width: 25px;
    height: 25px;
    background-color: rgb(255, 17, 0);
    align-self: flex-end;
    margin-right: 3%;
    border-radius: 30px;

}
.statusContent{
    display: flex;
    flex-direction: row;
    height: 6%;
    width: 100%;
    justify-content:flex-end;
    align-items: center;
    margin-top: 5%;
}
.circulo {
    color: #F5F5F5;
    margin-right: 5%;
    font-weight: 400;
}
.fichaCard .titulo {
font-size: larger;
color: #F5F5F5;
font-weight: bold;
}

.campo {
    width: 90%;
    height: 15%;
    border-bottom: 2px solid #a90820;
    color: #F5F5F5;
    font-weight: 500;
}

.acoes {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 5%;
    justify-content: space-af;
}

.acoes button {
    border: var(--border);
    background-color: var(--contraste1);
    color: #F5F5F5;
    font-weight: 600;
    border-radius: 10px;
    height: 50%;
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;

}

button:hover {
    background-color: #F5F5F5;
    transition: 0.5s;
    color: #1E201E;
}

#iptCheck {
    background-color: #1E201E;
    width: 15%;
    border-radius: 10px;
}

.check {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

div label {
    color: #F5F5F5;
    font-weight: 600;

}