:root {
    --vermelho: #a90820;
    --bege: #eeebdd;
    --preto: #090909;
      --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);

}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    transition: 0.2s linear;
}


.container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header {
    background-color: var(--preto);
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 90%;
}

.header a {
    text-decoration: none;
    color: var(--bege);
    margin-left: 30px;
}

.header a:hover {
    color: #fff;
    border-bottom: 0.1rem solid #fff;
    padding-bottom: 0.1rem;
    transition: 0.1s;
    text-align: center;
    font-size: 1.2rem;
}

.navbar {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: start;
    list-style: none;
}

.tituloNav {
    color: var(--vermelho);
    width: fit-content;
    font-weight: 500;
    order: 1;
    padding-left: 50%;
}

.header h1 {
    margin: 0;
}
.logoTitulo{
    flex-direction: row;    
    display: flex;
    align-items: center;
    justify-content: center;
}