@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    font-family: "Poppins", sans-serif;

}

:root {
    --preto: #1E201E;
    --contraste: #2C2C2C;
    --border: 1px solid #a90820;
    --contraste1: #3C3D37;
    --vermelho: #a90820;
}

.header {
    width: 100%;    
    height: 75px;
    margin-top: 1%;
}

.container {
    width: 100%;
    height: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.logoTitulo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    
}
.navTitulo{
    font-family: "Playfair Display", serif;
    font-size: x-large;
    color: #fff;
    align-self: center;
    font-weight: 100;
        
}

.navbar {
    height: 100%;
    flex: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.links {
    display: flex;
    width: 50%;
    height: 70%;
    background-color: #423F3E;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
}

.links div {
    margin-left: 2vw;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    border-radius: 20px;
}

div a {
    text-decoration: none;
    color: #B2B1B9;
    font-weight: 600;
}

.links div:hover {
    background-color: #4f535e;
    transition: 0.5s;
}

.links div a:hover {
    transition: 0.5s;
    color: #fff;
    text-shadow: 0.5px 0.5px 1px #fff;


}